* {
  margin: 0;
  padding: 0;

}

.button {

  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  width: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 30px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.container {
  width: 100%;
  min-height: 100%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;

}

.logo {
  width: 90px;
  cursor: pointer;
  margin: 30px 0;
}

nav {
  flex: 1;
  text-align: right;


}


nav ul {
  font-size: 5px;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;


}

nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 800px;

}

nav ul li a:hover {

  color: rgb(35, 3, 175);
}

/* -----------------body part----------------- */
body {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;

}

header {
  background-image: linear-gradient(157deg, rgb(38, 0, 255), rgb(0, 255, 255));
  font-family: 'Bebas Neue', cursive;

}

.services {
  background: #f1f1f1;
  text-align: center;
}

.services h1 {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 10px solid #3498db;
  font-size: 40px;
  padding-bottom: 10px;
  margin-top: 180.5px;
}


.cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 120px;
}

.service {
  display: inline-block;
  width: calc(100% / 3);
  width: 400px;
  margin: 0 -2px;
  padding: 20px;
  font-size: 50px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}

.service:hover {
  background: #ddd;
}

.service i {
  color: #3498db;
  font-size: 50px;
  margin-bottom: 50px;
}

.service h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}

.service p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 1360px) {
  .service {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .service {
    width: 100%;
  }
}